:root {
  --border-radius: 0.125rem;
  --color-primary: teal;
  --font-family: 'Roboto Mono', monospace;
  --font-weight: 300;
  --font-weight-bold: 500;
  --max-width: 48rem;
  --spacing-large: 2rem;
  --spacing-medium: 1rem;
  --spacing-small: 0.5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e8e8e8;
  color: #333333;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  margin: 0 auto;
  max-width: var(--max-width);
}

section {
  background-color: white;
  border-radius: var(--border-radius);
  margin-bottom: var(--spacing-large);
  padding: var(--spacing-large);
  text-align: center;
}

h1 {
  font-size: xx-large;
}
